@font-face {
  font-family: 'jetbrains-mono';
  src: url('~static/fonts/jetbrains-mono.woff2') format('woff2');
}

@font-face {
  font-family: 'cartridge';
  src: url('~static/fonts/cartridge.woff2') format('woff2');
}

/* Fallback Fonts */
