@font-face {
  font-family: 'jetbrains-mono';
  src: url('~static/fonts/jetbrains-mono.woff2') format('woff2');
}

@font-face {
  font-family: 'hack-nerd';
  src: url('~static/fonts/hack-nerd.woff2') format('woff2');
}

@font-face {
  font-family: 'cartridge';
  src: url('~static/fonts/cartridge.woff2') format('woff2');
}

/* Main + fallbacks. */
* {
  font-family: 'jetbrains-mono', Arial, Helvetica, Verdana, Georgia, Tahoma,
    sans-serif;
}

.nuxt-content h1 {
  font-family: 'cartridge';
}

.nuxt-content h2,
.nuxt-content h3,
.nuxt-content h4,
.nuxt-content h5,
.nuxt-content h6 {
  font-family: 'jetbrains-mono';
}
