* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef6ff;
  /* background-image: url('../../static/images/texture.png');
  background-repeat: repeat; */
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

hr {
  border: none;
  border-top: 3px solid rgb(200, 208, 244);
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: 20px;
}

hr::after {
  content: '💾';
  padding: 0 4px;
  font-size: 30px;
  border-radius: 5px;
  position: relative;
  top: -25px;
}

/* TODO - Glassmorphism within header & footer. */
header {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(80px);
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

footer {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(80px);
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.v-leave-from,
.v-enter-to {
  opacity: 1;
}
