* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

hr {
  border: 1px dashed #b1b1b1;
  margin: 20px 0;
}

.pixelFrame {
  border-image: url('../../static/frame.png') 48 fill repeat;
  border-image-width: 48px;
}

.standard-button {
  align-items: center;
  display: inline-flex;
  font-family: 'jetbrains-mono';
  height: 2.7rem;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  border-width: 4px;
  border-style: inset;
  border-color: #ebebeb;
  background-color: #cecac3;
  white-space: nowrap;
  width: 9rem;
  outline: 1px solid black;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.v-leave-from,
.v-enter-to {
  opacity: 1;
}
