* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cde4e0;
  background-image: url('../../static/img/texture.png');
  background-size: cover;
}

/* TODO - Glassmorphism within header & footer. */
header {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(80px);
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

footer {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(80px);
  border: solid 2px transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
