/* h1, h2, h3 settings. */
.nuxt-content h1,
.nuxt-content h2,
.nuxt-content h3 {
  color: black;
  margin: 20px 0 0 0;
  white-space: normal;
}

/* Paragraphs. */
.nuxt-content p {
  margin: 20px 0 20px 0;
}

/* Ordered, numbered list. */
ul {
  list-style-type: disc;
  margin: 10px 0 10px 20px;
}

/* Quotes. */
.nuxt-content blockquote p {
  margin: 15px 0 15px 0;
  background-color: rgb(192, 225, 217);
  border-radius: 10px;
  padding: 10px;
}

/* Code specific. */
code,
pre {
  border-radius: 10px;
  padding: 0 4px 0 4px;
}

.nuxt-content-highlight {
  width: 100%;
}

/* Inline code. */
.nuxt-content p code {
  background-color: #ffe5c7;
  border-radius: 5px;
}

/* Links */
nuxt-content a {
  color: #1f1fff;
}

/* Keys */
key {
  color: rgb(57, 27, 101);
  border: solid;
  padding: 0 3px 0 3px;
  border-width: thin;
  border-radius: 5px;
}
