/* Markdown blocks from api. */

.nuxt-content-highlight {
  width: 85vw;
}

p {
  margin: 20px 0 20px 0;
}

h3 {
  margin: 40px 0 0 0;
}

/* Ordered, numbered list. */

ul {
  list-style-type: disc;
  margin: 10px 0 10px 20px;
}

/* list-style-type: decimal;
  margin: 10px 0 10px 30px; */

/* Unordered list, parent item. */
/* .articleWrapper {
  margin: 10px 0 10px 0;
} */

/* Unordered list, indented/child item. */
/* .articleWrapper  {
  list-style-type: circle;
  margin: 5px 0 5px 20px;
} */

/* To do list. */

/* Quotes. */
blockquote {
  margin: 8px 0 8px 0;
  padding: 10px;
  background-color: rgb(192, 225, 217);
}

/* Code specific. */
code,
pre {
  border-radius: 10px;
  padding: 0 4px 0 4px;
}

a {
  color: #1f1fff;
}
