/* Markdown blocks from api. */

/* Headings. */
.articleWrapper > section > div > h1,
.articleWrapper > section > div > h3 {
  font-weight: bold;
  margin: 5px 0 5px 0;
}

/* Paragraphs. */
.articleWrapper > section > div > p {
  margin: 3px 0 3px 0;
}

/* Ordered, numbered list. */
.articleWrapper > section > div > ol {
  list-style-type: decimal;
  margin: 10px 0 10px 30px;
}

/* Unordered list, parent item. */
.articleWrapper > section > div > ul > li {
  list-style-type: circle;
  margin: 10px 0 10px 0;
}

/* Unordered list, indented/child item. */
.articleWrapper > section > div > ul,
li > ul > li {
  list-style-type: circle;
  margin: 5px 0 5px 20px;
}

/* To do list. */
.contains-task-list,
.task-list-item {
  list-style-type: unset;
}

.contains-task-list {
  list-style-type: unset;
  margin: 10px 0 10px 0;
}

/* Quotes. */
blockquote {
  margin: 8px 0 8px 0;
  padding: 10px;
  background-color: lightpink;
  font-style: italic;
}

/* Code specific. */
code,
pre {
  border-radius: 10px;
  padding: 0 4px 0 4px;
}

/* HTML specific within code blocks. */
.language-html > .hljs-tag > .hljs-name,
.language-html > .hljs-tag > .hljs-attr {
  color: hotpink;
}
