@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-gray-200;
}

h1 {
  word-spacing: -30px;
}

@font-face {
  font-family: 'Hack Regular';
  src: url('~static/fonts/Hack-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'League Spartan Bold';
  src: url('~static/fonts/LeagueSpartan-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Mega Man';
  src: url('~static/fonts/MMRock9.woff2') format('woff2');
}
