/* Font settings. */

@font-face {
  font-family: 'jetbrainsmono';
  src: url('~static/fonts/jetbrainsmono.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'jetbrainsmono';
  white-space: normal;
}

/* Main + fallbacks. */
* {
  font-family: 'jetbrainsmono', Arial, Helvetica, Verdana, Georgia, Tahoma,
    sans-serif;
}

.brand {
  color: rebeccapurple;
}

/* Text settings. */
h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.3rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 2rem;
}
