@font-face {
  font-family: 'hack';
  src: url('~static/fonts/hack.woff2') format('woff2');
}

@font-face {
  font-family: 'spaceGrotesk';
  src: url('~static/fonts/spaceGrotesk.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'spaceGrotesk';
  white-space: normal;
}

/* Main + fallbacks. */
* {
  font-family: 'hack', Arial, Helvetica, Verdana, Georgia, Tahoma, sans-serif;
}

.brand {
  font-family: 'hack';
  font-size: 1.2rem;
  line-height: 2.25rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.3rem;
  line-height: 2.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
}

.articleWrapper,
p {
  font-family: 'hack'; /* TODO - fallback fonts. */
}
