@font-face {
  font-family: 'hack';
  src: url('~static/fonts/Hack-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'leagueSpartan';
  src: url('~static/fonts/LeagueSpartan-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'megaMan';
  src: url('~static/fonts/MMRock9.woff2') format('woff2');
}

.font-megaMan {
  word-spacing: -30px;
}

h1 {
  @apply font-semibold text-xl;
}

h1 {
  text-transform: uppercase;
}

/* Hamburger menu links. */
.headerMenu3 > ul > a {
  font-family: 'hack';
}
